.background {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 70vh;
    background-size:cover;
    background-image: url('/public/img/suggest-hobby-background-img.png');   
    background-repeat: no-repeat;
    z-index: -2; 
}

.suggestBox {
    border: 1px solid #D8D8D8;
    margin: 10% auto;
    padding: 1%;
    width: 1008px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    scale:0.9;
}

.title {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    padding-top: 15px;
}

.pink {
    color: #FF5391;
}

.hobbyGet {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding-top: 3%;
}

.hobbyGet > select {
    width: 868px;
    height: 75px;
    margin: 30px auto;
    font-size: 23px;
    border-radius: 10px;
    padding-left: 3%;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background:url('/public/img/arrow.png') no-repeat 97% 50%/30px auto;

    
}


.submit {
    width: 300px;
    height: 70px;
    margin: 5% auto;
    font-size: 33px;
    color: white;
    background-color: #6CB7DA ;
    border: white;
    border-radius: 15px;
}

.submit:hover {
    background-color: #61A2DA;
}
