/* 통합 */
/* MainPage, Board, BoardOverview */

/* 미통합 */
/* BoardWrite, BoardUpdate, PartyDetail, WholeSearch */

.centerContainer {
    width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;
    /* whole 수정 - 상하 패딩 60, 좌우 패딩 0 */
    padding: 60px 0;
    /* whole 수정 - 컨테이너 그림자 */
    /* box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}

.posRelative {
    position: relative;
}

.posAbsolute {
    position: absolute;
}

.posCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.fwNormal {
    font-weight: normal;
}

.fwBold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.flexWrap {
    display: flex;
    flex-wrap: wrap;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
}

.alCenter {
    align-items: center;
}

.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 100%;
}

.reactIcon {
    width: 20px;
    height: auto;
}

.separator {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 16px;
}

.separatorTitle {
    margin-right: auto;
    /* firstFont */
    font-size: 26.4px;
    font-weight: bold;
}

.separatorContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    gap: 80px;
    row-gap: 32px;
    margin-bottom: 32px;
}

.separatorV {
    /* color: grey; */
    font-weight: normal;
}

.commonBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 8px;
    
    background-color: #6CB7DA;
    color: white;
    
    padding: 0 10px;
    min-width: 60px;
    height: 35px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}
.commonBtn:hover {
    background-color: #61a2da;
}

.importantBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 8px;
    
    background-color: #9B60FA;
    color: white;

    padding: 0 10px;
    min-width: 60px;
    height: 35px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

.uniqueBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 8px;

    background-color: #808080;
    color: white;

    padding: 0 10px;
    min-width: 60px;
    height: 35px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

.whiteBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px grey solid;
    border-radius: 8px;

    background-color: white;
    color: black;
    
    padding: 0 10px;
    min-width: 60px;
    height: 31px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

.whiteIndicator {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px grey solid;
    border-radius: 8px;

    background-color: white;
    color: black;
    
    padding: 0 10px;
    min-width: 60px;
    height: 31px;

    font-size: 18px;
    font-weight: bold;
}

.partySearchSort {
    display: flex;
    margin-left: auto;

    width: 200px;
    height: 35px;
    border: 1px #adadad solid;
    border-radius: 8px;
    
    font-size: 16px;
}

.partySearch {
    display: flex;

    width: 200px;
    height: 33px;
    border: 1px #adadad solid;
    border-radius: 8px;

    background-repeat: no-repeat;
    background-position: right;
    background-size: 16px;
}

.partySearchInput {
    border: none;
    border-radius: 8px;
    width: 80%;
    padding-left: 5px;
    font-size: 16px;
    
}
.partySearchInput:focus {
    outline: none;
}

.partySearchIcon {
    width: 20px;
    height: auto;
    margin: 0 auto;
}
.partySearchIcon:hover {
    cursor: pointer;
}

.rateInfo {
    display: flex;
    align-items: center;
    padding: 3px 0;
}

.filledStar {
    background-image: url('/public/image/filledStar.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.halfStar {
    background-image: url('/public/image/filledStar.svg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    margin-right: 50%;
}

.baseStar {
    background-image: url('/public/image/unfilledStar.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.emptyCardContainer {
    flex: none;
    width: 240px;
}

.cardContainer {
    /* cardImage - width와 동일하게 설정해야함 */
    max-width: 240px;

    cursor: pointer;
}

.cardImage {
    display: flex;
    border: 1px solid #adadad;
    width: 240px;
    height: 240px;
    border-radius: 10px; 
    background-size: cover;
    background-position: center;
}

.hobbyCardText {
    display: flex;
    align-items: end;
}

/* 이미지 속 하트 */
.imgHeart {
    align-self: end;
    margin: 0 5px 5px auto;
    width: 40px;
    height: 40px;
    color: red;
}

.imgHeart:hover {
    margin: 0 4px 4px auto;
    width: 42px;
    height: 42px;
}

.memberInfo {
    display: flex;
    align-items: center;
}

.openedParty {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 2px #569AFF solid;
    border-radius: 8px;
    
    background-color: white;
    color: #569AFF;
    
    padding: 0 10px;
    height: 31px;
}

.closedParty {
    display: flex;
    justify-content: center;
    align-items: center;
  
    border: 2px grey solid;
    border-radius: 8px;

    background-color: white;
    color: black;

    margin-left: auto;
    padding: 0 10px;
    height: 31px;
}

.ctgrRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    row-gap: 16px;
    padding: 0 20px;
    margin-bottom: 16px;
}

.emptyCtgrContainer {
    flex: none;
    width: 230px;
}


.ctgrContainer {
    /* ctgrImage - width와 동일하게 설정해야함 */
    max-width: 230px;

    cursor: pointer;
}

.ctgrImage {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 230px;
    height: 120px;

}

.ctgrText {
    color: white;
    margin: auto 0 5px 5px;
}

.firstFont {
    font-size: 33px;
    font-weight: bold;
}

.firstFontNormal {
    font-size: 33px;
}

.secondFont {
    font-size: 23px;
    font-weight: bold;
}

.secondFontNormal {
    font-size: 23px;
}

.thirdFont {
    font-size: 18px;
    font-weight: bold;
}

.thirdFontNormal {
    font-size: 18px;
}

.fourthFont {
    font-size: 16px;
    font-weight: bold;
}

.fourthFontNormal {
    font-size: 16px;
}

.pointColor {
    color: #FF5391;
}

.mtAuto {
    margin-top: auto;
}

.mlAuto {
    margin-left: auto;
}

.mrAuto {
    margin-right: auto;
}

.mxAuto {
    margin-left: auto;
    margin-right: auto;
}

.marginLeft {
    margin-left: 10px;
}

.marginRight {
    margin-right: 16px;
}

.marginBottom {
    margin-bottom: 16px;
}

.marginBottom2 {
    margin-bottom: 32px;
}

.test {
    border: 1px solid grey;
}

/* search-whole */
/* 검색결과 없을 때 출력되는 문구 */
.noSearchResult {
    padding-top: 16px;
    color: #999999;
    font-size: 33px;
    font-weight: bold;
}

/* PartyDetail */
/* 모임장 프로필 - 모임 상세 */
.masterProfile {
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;

    cursor: pointer;
}

.separatorLines {
    display: flex;
    padding: 0 20px;
    margin-bottom: 16px;
}

.meetContainer {
    display: flex;
    justify-content: space-between;
    margin-left: auto; margin-right: auto;
    margin-bottom: 16px;
    padding: 20px 30px;
    width: 80%;
    height: 170px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.meetDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border-radius: 8px;
    background-color: #D9D9D9;
}

.meetInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
    border-radius: 8px;
    color: black;
}

.meetButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* 별점 표현 */
/* unFilledStar를 베이스로 filledStar / halfStar div를 중첩해 출력 */
/* 
    소수점 표현하고 싶은 경우 inline-css로 
    width: (소수점 * 100)%, margin-right: (100 - width)% 
*/
.detailFilledStar {
    background-image: url('/public/image/filledStar.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.detailHalfStar {
    background-image: url('/public/image/filledStar.svg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    margin-right: 50%;
}

.detailBaseStar {
    background-image: url('/public/image/unfilledStar.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.detailSmallBaseStar {
    background-image: url('/public/image/unfilledStar.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.detailRateInfo {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.detailRateText {
    font-size: 20px;
    font-weight: bold;
    margin-left: 16px;
}

.reviewContainer {
    display: flex;
    margin-left: auto; margin-right: auto;
    margin-bottom: 16px;
    padding: 10px 30px;
    width: 80%;
}

.reviewContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 32px;
    width: 100%;
}

.memberContainer {
    display: flex;
    margin-left: auto; margin-right: auto;
    margin-bottom: 16px;
    padding: 10px 30px;
    width: 80%;
}

.memberContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 32px;
}

/* 캐러셀 */
.csContainer {
    margin: 0 auto 0 auto;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.csInner {
    display: flex;
    width: 100%;
    transition: all 0.5s;
}

.csItem {
    flex: none;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.csPrev {
    background-image: url('/public/image/arrow-left.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
}
.csPrev:hover {
    cursor: pointer;
}

.csNext {
    background-image: url('/public/image/arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
}
.csNext:hover {
    cursor: pointer;
}

/* 무한 캐러셀 */
.mcsContainer {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.mcsInner {
    display: flex;
    transition: all 0.3s;
    position: relative;
}

.mcsItem {
    flex: none;

    border-radius: 10px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 520px;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;

    cursor: pointer;
}

.mcsPrev {
    background-image: url('/public/image/arrow-left.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
}
.mcsPrev:hover {
    cursor: pointer;
}

.mcsNext {
    background-image: url('/public/image/arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
}
.mcsNext:hover {
    cursor: pointer;
}
