.gray{color: #999999;}
.bigDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
/*    max-width: 1008px;*/
    min-width: 1020px;
    height: 100%;
    margin: 0 auto;}
.smallDiv {
    height: 70%;
    background: white;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
    position: relative; /* profile이 smallDiv 위에 정확히 겹치도록 설정 */
}
.mypageSmallDiv{    height: 70%;
    background: white;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    position: relative;
}
.mainDiv{display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;}

.mainDiv input{resize: none;
    border: none;
    text-align: center;
    font-family: 'Pretendard', sans-serif;}

.mainDiv textarea{resize: none;
border: none;
text-align: center;
font-family: 'Pretendard', sans-serif;}
.oneLine{
    color: #999999;
    margin: 15px;
    margin-bottom: 30px;}

.hashDiv{display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;}

.profile {
    object-fit: cover;
    border: 1px solid #999999;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative; /* 위치를 상대적으로 변경 */
    top: +80px; /* smallDiv 상단에 반만 걸치도록 설정 */
    z-index: 1; /* 다른 요소 위로 표시되도록 설정 */
    background-color: white;
}

/*해시태그*/
.hashDiv{display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;}
.hash{display: flex;
    align-items: center;}
.hash p {width: 70px;
    text-align: center;
    display: flex;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: #FF5391;
    color: white;
    border: none;
    border-radius: 8px;
    min-width: 100px;
    height: 35px;
    font-weight: bold;

    font-size: 18px;}

.contentsDiv{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    cursor: pointer;}

.contentDiv1{width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #999999;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-top: 10px;
    height: 80px;
    padding-bottom: 8px;
    justify-content: space-around;}
.contentDiv2{width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #999999;
    border-left: 0px;
    border-right: 0px;
    align-items: center;
    padding-top: 10px;
    height: 80px;
    padding-bottom: 8px;
    justify-content: space-around;}
.contentDiv3{width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #999999;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 10px;
    height: 80px;
    padding-bottom: 8px;
    justify-content: space-around;}

/*캘린더*/
.calendarContainer {width: 80%;
    height: 900px;
    margin-top: 20px;}
/* MypageCalender.module.css */
.reactCalendar {
    width: 100% !important; /* 캘린더 전체 크기 조정 */
    margin: auto !important;
    border: 1px solid #999999 !important;
    border-radius: 8px !important;
    font-family: Pretendard !important;
    height: 100% !important;
    padding-top: 20px !important;
}
.navigationButton{
    min-width: 44px !important;
    background: none !important;
    font-size: 20px !important;
    font-weight: bold !important;
}
.navigationButton:hover {
    min-width: 44px !important;
    background: none !important;
    font-size: 20px !important;
    font-weight: bold !important;
    color:black !important;
}
.reactCalendarTile {
    min-width: 100px !important;
    min-height: 130px !important;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    background: white !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    flex-direction: column;
    align-content: center;

}

.reactCalendarTile:enabled:hover {
    background-color: #f0f8ff !important;
    color: #007BFF !important;
}

.reactCalendarTileActive {
    background-color: #03a9f4 !important;
    color: white !important;
    border-radius: 8px !important;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.react-calendar__tile--now {
    background: #fff7e6;
    color: #ffa500;
}

.react-calendar__month-view__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7칸 */
    grid-auto-rows: 60px; /* 타일 최소 높이 */
}
/* meetNumber에 따른 배경색 */
.eventTile.color1 {
    background-color: #ffa6a6;
}

.eventTile.color2 {
    background-color: #fd7474;
}

.eventTile.color3 {
    background-color: #99d2a2;
}

.eventTile.color4 {
    background-color: #5aace5;
}

.eventTile.color5 {
    background-color: #ffde5e;
}

.eventTile {
    cursor: pointer;
    color: black;
    font-size: 15px;
 margin-bottom: 10px;
    width: 100%;
}

.eventTile:hover {
    text-decoration: none;
    color: white;
}

ul{
    list-style:none;
    padding-left:0px;
    width: 100%;
    }
li{
    list-style: none;
    border-radius: 8px;
}
/**/
.divHr {
    border: none;
    border-top: 1px solid #ddd;
    width: 100%;
}
.btnDiv{    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 25px;}

.importantBtn {
    padding: 0 10px;
    color: #FF0000;
    background: none;
    border: 1px solid #FF0000;
    border-radius: 8px;
    min-width: 80px;
    height: 30px;
    font-weight: bold;
}
.marginLeftAuto {
    margin-left: auto;
}

.marginLeft {
    margin-left: 10px;
}
/*버튼*/
.commonBtn {
    padding: 0 10px;
    background-color: #6CB7DA;
    color: white;
    border: none;
    border-radius: 8px;
    min-width: 80px;
    height: 30px;
    font-weight: bold;
}