.gray{color: gray;}
.pink{color: #FF5391}
.nameflexDiv{    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
/*p{font-weight: bold;}*/
.bigName h1{margin-left: 10px;
    margin-top : 0px;}

.bigDiv{height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 0px;}
.smallDiv{
    height: 65%;
    background: white;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 20px 0px;
    border-radius: 10px;
    margin-top: 25px;
    border: 1px solid #999999;
    min-height: 800px;
}
.mainDiv{width: 80%;}
.mainName{display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.modifyDiv{display: flex;
    width: 1280px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;}
.bigName{display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;}
.divHr {
    border: none;
    border-top: 1px solid #ddd;
    width: 100%;
}
.commonBtn {
    padding: 0 10px;
    background-color: #6CB7DA;
    color: white;
    border: none;
    border-radius: 8px;
    min-width: 80px;
    height: 30px;
    font-weight: bold;
}
.marginLeft {
    margin-left: 10px;
}
.saveMargin{margin-top: 20px;}

/*검색창 영역*/
.bigSearchDiv{    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;}
.smallSearchDiv{display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    width: 50%;
}
.flexDiv{
    display: flex;
    align-items: center;
}
.selectSort{border: none;
font-size: 18px;}
.searchDiv{border: 1px solid #000000;
    border-radius: 8px;
    height: 35px;
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-left: 10px;
    padding: 0px 10px;}
.searchDiv input{border: none;
font-size: 18px;}

/*밑줄*/
.divHr {
    border: none;
    border-top: 1px solid #575757;
    width: 100%;
}

/*아이콘 스타일 없애기*/
.iconDiv{border:none;
    background: none;}


/*메인 영역 (프로필 목록) */
.mainContentsDiv{    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: column;}
.smallMainContentsDiv{    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;}
.smallMainContentDiv{    display: flex;
    align-items: center;
    flex-direction: row;
}
.smallContentDiv{display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;}
.mainContentDiv{display: flex;
    flex-direction: column;
    margin-left: 60px;}
.userProfileDiv{    
    border: 1px solid #999999;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;}
.mainContentDiv h3{margin: 3px;}
.mainContentDiv p{margin: 3px; color: gray;}
.bigProfileDiv{    display: flex;
    flex-direction: column;
    align-items: flex-start;}
.bigProfileDiv h3{margin-left: 60px;}
.smallProfileDiv{display: flex;
    flex-direction: row;
    align-items: center;}

.reportDiv{margin: 0px;
    border: 1px solid #999999;
    border-radius: 8px;
    background: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;}

/*추방*/
.lastBtn{display: flex;
    justify-content: flex-end;
    width: 1280px;
    margin-top: 20px;}

.flex{display: flex;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
    width: 120px;
    justify-content: space-between;}