.background{

}

.page {
    background-color: white;
    width: 1008px;
    margin: 120px auto;
}

.writeReview {
    border: 1px solid #c7c7c7;
    border-radius: 15px;
    margin: 0 auto;
    padding: 50px;
    position: relative;
}

.title {
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.writeDate {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
    text-align: right;
}

.reviewPoint {
    margin-bottom: 20px;
    text-align: center;
}

.reviewPoint .text {
    font-weight: bold;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.starPoint {
    font-size: 20px;
    display: block;
    margin-top: 5px;
}

.writeReviewDetail {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.writeReviewDetail .text {
    font-weight: bold;
    font-size: 18px;
}

.writeReviewDetail label {
    font-size: 18px;
}

.inputText {
    margin: 0 auto;
    padding: 12px;
    font-size: 14px;
    border: 2px solid #c7c7c7;
    border-radius: 15px;
    width: 95%;
    height: 300px;
    resize: none;
}

.selectHobbyAbility,
.selectHobbyTendency,
.selectHobbyBudget,
.selectHobbyLevel {
    font-size: 18px;
}

.selectHobbyAbility input,
.selectHobbyTendency input,
.selectHobbyBudget input,
.selectHobbyLevel input {
    display: none;
}

.selectHobbyAbility label,
.selectHobbyTendency label,
.selectHobbyBudget label,
.selectHobbyLevel label {
    display: inline-block;
    padding: 8px 30px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.selectHobbyAbility input:checked + label,
.selectHobbyTendency input:checked + label,
.selectHobbyBudget input:checked + label,
.selectHobbyLevel input:checked + label {
    background-color: #007bff;
    color: white;
}

.buttonContainer {
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.cancleButton, .submitButton {
    background-color: #6CB7DA;
    color: white;
    border: none;
    border-radius: 8px;
    min-width: 100px;
    height: 35px;
    font-weight: bold;
    font-size: 23px;
}

.cancleButton:hover, .submitButton:hover {
    background-color: #61A2DA;
    color: white;
}

.submitButton {
    background-color: #9B60FA;
    color: white;
    border: 1px solid white;
}

.submitButton:hover {
    background-color: #6c11fd;
    color: white;
}

.star {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}
