.background{
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 50vh;
    background-image: url(/public/img/sampleBackgroundImg.png);
    background-repeat: no-repeat; 
    background-size: cover;
    z-index: -2; 
}

.page {
    width: 1280px;
    margin: 0 auto;
    
}

.hobby {
    display: flex;
    margin: 30px 0;
    margin-left: 100px;
}

.hobbyImg {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    border:1px solid #c2c2c2;
    border-radius: 10px;
}

.hobbyName {
    font-size: 33px;
    display: block;
    font-weight: bold;
    margin: 25px 5px;
}

.hobbyDetail {
    font-size: 23px;
    margin-top: 20px;
}

.hobbyText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px; 
    max-width: 600px;
}

.preference {
    font-size: 18px;
    margin-bottom: 0;
}

.progressBarContainer {
    max-width:280px;
    width: 280px; 
    height: 25px; 
    background-color: #e0e0e0; 
    border: 1px solid black;
    border-radius: 5px; 
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.progressBar {
    height: 100%; 
    background-color: #FF5391;  
    transition: width 0.5s ease;
}

.hobbyPoint {
    border: 1px solid #c2c2c2;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
}

.hobbyAbility,
.hobbyBudget,
.hobbyLevel {
    background-color: white;
    font-size: 23px;
    flex: 1;
    text-align: center;
    border-left: 1px solid #c2c2c2;
    padding: 10px 0;
}

.hobbyAbility {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.hobbyLevel {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid;
}

.reviewHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.reviewCount {
    font-weight: bold;
    font-size: 23px;
}

.reviewButton {
    display: flex;
    gap: 10px;
}

.writeReview {
    background-color: #6CB7DA;
    color: white;
    border: none;
    border-radius: 8px;
    min-width: 80px;
    height: 35px;
    font-weight: bold;
    font-size: 18px;
}

.sortReview {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    min-width: 80px;
    height: 35px;
    font-weight: bold;
    font-size: 18px;

    text-align: center;
    
    -webkit-appearance: none;

    
}

.hobbyReview {
    background-color: white;
    position: relative;
    padding: 20px 50px;
    border: 1px solid;
    border-radius: 30px;
    margin-bottom: 60px;
}

.hobbyReviewDetail {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userImg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.userName {
    margin-left: 20px;
    font-weight: bold;
    font-size: 23px;
}

.reviewPoint {
    margin-left: auto;
    font-size: 23px;
    display: flex;

}

.date{
    margin-left: 20px;
    font-size: 20px;
}

.star {
    margin-right: 15px;
}

.reportButton {
    margin-left: 20px;
}

.reviewSummation {
   font-size: 1.2em;
   font-weight: bold;
}

.reviewDetail {
    margin-top: 10px;
    text-align: left;
    font-size: 1.2em;
}

.reviewImgContainer {
    display: flex;
    gap: 30px;
}

.reviewImg {
    width: 250px;
    max-width: 250px;
    border-radius: 10px;
}

.updateReviewButton {
    margin-left: auto;
    background-color: #6CB7DA;
    color: white;
    border: none;
    border-radius: 8px;
    min-width: 80px;
    height: 35px;
    font-weight: bold;
    font-size: 18px;
}
